* {
    margin: 0;
    padding: 0;
    pointer-events: none;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.anchorpane1 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 780.0px;
	max-width: 1080.0px;
	height: 2089.0px;
	max-height: 2090.0px;
	min-height: 2090.0px;
	min-width: 100% !important;
}

.anchorpane1-region {
	pointer-events: auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #776438ff;
	border-width: 0px;
	width: 100%;
	height: 100%;
	min-width: 100% !important;
}

.titlebar {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	height: 75.0px;
	width: 100%;
	max-width: 100%;
	left: 0.0px;
	top: 0.0px;
	position: absolute;
}

.titlebar-region {
	flex-direction: row;
	pointer-events: auto;
	display: flex;
	align-items: flex-start;
	justify-content: LEFT;
	text-align: LEFT;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.titlebar-region>div>div {
	height: 100%;
}

.button1 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 519.0px;
	height: 71.0px;
	flex-grow: 1;
	flex-basis: 519.0px;
	flex-shrink: 1;
}

.button1-region {
	pointer-events: auto;
	display: flex;
	align-items: center;
	justify-content: LEFT;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 25.0px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	-webkit-text-fill-color: #000000ff;
}

.angebot_button {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 132.0px;
	height: 71.0px;
	flex-shrink: 1;
}

.angebot_button-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 25.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.kontakt_button {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 129.0px;
	height: 71.0px;
	flex-shrink: 1;
}

.kontakt_button-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 25.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.vbox1 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	align-items: CENTER;
	justify-content: CENTER;
	text-align: CENTER;
	height: calc(100% - 75.0px);
	max-height: calc(100% - 75.0px);
	width: 100%;
	max-width: 100%;
	left: 0.0px;
	top: 75.0px;
	position: absolute;
}

.vbox1-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	text-align: CENTER;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #776438ff;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.vbox1-region>div>div {
	min-width: 100%;
}

.vbox1-region>div {
	min-width: 100%;
}

.hbox9 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 780.0px;
	height: 389.1666564941406px;
	flex-shrink: 1;
}

.hbox9-region {
	display: flex;
	flex-direction: row;
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.hbox9-region>div>div {
	height: 100%;
}

.anchorpane2 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 780.0px;
	max-width: 1900.0px;
	height: 464.0px;
	flex-grow: 1;
	flex-basis: 780.0px;
	flex-shrink: 1;
}

.anchorpane2-region {
	pointer-events: auto;
	background-image: url("media/table_(4).jpg");
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	background-color: #776438ff;
	background-repeat: repeat-x;
	background-size: cover;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.hbox2 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 780.0px;
	height: 412.1666564941406px;
	flex-shrink: 1;
}

.hbox2-region {
	display: flex;
	flex-direction: row;
	gap: 25.0px;
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.hbox2-region>div>div {
	height: 100%;
}

.anchorpane3 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 228.0px;
	height: 342.0px;
	margin-left: 40.0px;
	flex-shrink: 1;
}

.anchorpane3-region {
	pointer-events: auto;
	background-image: url("media/table_(4).jpg");
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #e5e5e5ff;
	background-repeat: no-repeat;
	background-size: cover;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.vbox4 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	align-items: CENTER;
	justify-content: CENTER;
	text-align: CENTER;
	width: 534.5px;
	height: 412.1666564941406px;
	margin-right: 40.0px;
	flex-shrink: 1;
}

.vbox4-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	text-align: CENTER;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.vbox4-region>div>div {
	min-width: 100%;
}

.vbox4-region>div {
	min-width: 100%;
}

.label25 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 534.5px;
	height: 48.0px;
	flex-shrink: 1;
}

.label25-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 21.0px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.label26 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 534.5px;
	height: 17.0px;
	flex-shrink: 1;
}

.label26-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 13.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.label24 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 534.5px;
	height: 218.0px;
	flex-shrink: 1;
}

.label24-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 16.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	word-break: break-word;
	-webkit-text-fill-color: #000000ff;
}

.flowpane1 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 200.0px;
	height: 805.1666870117188px;
	flex-shrink: 1;
}

.flowpane1-region {
	flex-wrap: wrap;
	column-gap: 50.0px;
	row-gap: 50.0px;
	pointer-events: auto;
	display: flex;
	align-content: flex-start;
	justify-content: LEFT;
	text-align: LEFT;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	padding-left: 50px;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.flowpane1-region:not(:last-child) {
}

.infobox {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 240.0px;
	height: 340.0px;
}

.infobox-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.infobox-region>div>div {
	min-width: 100%;
}

.infobox-region>div {
	min-width: 100%;
}

.infobox-border {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-top-color: #000000ff;
	border-right-color: #000000ff;
	border-bottom-color: #000000ff;
	border-left-color: #000000ff;
	border-right-width: 2.0px;
	border-left-width: 2.0px;
	border-top-width: 2.0px;
	border-bottom-width: 2.0px;
	border-top-right-radius: 20.0px;
	border-top-left-radius: 20.0px;
	border-bottom-right-radius: 120.0px;
	border-bottom-left-radius: 120.0px;
	height: calc(100% + 0.0px);
	width: calc(100% + 0.0px);
	inset: 0.0px 0.0px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	background-color: transparent;
	position: absolute;
	pointer-events: none;
}

.anchorpane5 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 238.0px;
	height: 131.0px;
	flex-shrink: 1;
}

.anchorpane5-region {
	pointer-events: auto;
	background-image: url("media/table_(6).jpg");
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	background-position: BOTTOM CENTER;
	background-repeat: no-repeat;
	background-size: contain;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.label6 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 236.0px;
	height: 67.0px;
	flex-shrink: 1;
}

.label6-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 9px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 30.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #070707ff;
}

.label8 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 229.0px;
	height: 20.0px;
	flex-shrink: 1;
}

.label8-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #070707ff;
}

.label9 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 236.0px;
	height: 108.0px;
	flex-grow: 1;
	flex-basis: 100%;
	flex-shrink: 1;
}

.label9-region {
	pointer-events: auto;
	display: flex;
	align-items: flex-start;
	justify-content: CENTER;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 12.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	word-break: break-word;
	-webkit-text-fill-color: #070707ff;
}

.vbox3 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 240.0px;
	height: 340.0px;
}

.vbox3-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.vbox3-region>div>div {
	min-width: 100%;
}

.vbox3-region>div {
	min-width: 100%;
}

.vbox3-border {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-top-color: #000000ff;
	border-right-color: #000000ff;
	border-bottom-color: #000000ff;
	border-left-color: #000000ff;
	border-right-width: 2.0px;
	border-left-width: 2.0px;
	border-top-width: 2.0px;
	border-bottom-width: 2.0px;
	border-top-right-radius: 20.0px;
	border-top-left-radius: 20.0px;
	border-bottom-right-radius: 120.0px;
	border-bottom-left-radius: 120.0px;
	height: calc(100% + 0.0px);
	width: calc(100% + 0.0px);
	inset: 0.0px 0.0px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	background-color: transparent;
	position: absolute;
	pointer-events: none;
}

.anchorpane6 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 238.0px;
	height: 131.0px;
	flex-shrink: 1;
}

.anchorpane6-region {
	pointer-events: auto;
	background-image: url("media/table_(6).jpg");
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	background-position: BOTTOM CENTER;
	background-repeat: no-repeat;
	background-size: contain;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.label10 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 236.0px;
	height: 67.0px;
	flex-shrink: 1;
}

.label10-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 9px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 30.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #070707ff;
}

.label17 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 229.0px;
	height: 20.0px;
	flex-shrink: 1;
}

.label17-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #070707ff;
}

.label18 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 236.0px;
	height: 108.0px;
	flex-grow: 1;
	flex-basis: 100%;
	flex-shrink: 1;
}

.label18-region {
	pointer-events: auto;
	display: flex;
	align-items: flex-start;
	justify-content: CENTER;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 12.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	word-break: break-word;
	-webkit-text-fill-color: #070707ff;
}

.vbox5 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 240.0px;
	height: 340.0px;
}

.vbox5-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.vbox5-region>div>div {
	min-width: 100%;
}

.vbox5-region>div {
	min-width: 100%;
}

.vbox5-border {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-top-color: #000000ff;
	border-right-color: #000000ff;
	border-bottom-color: #000000ff;
	border-left-color: #000000ff;
	border-right-width: 2.0px;
	border-left-width: 2.0px;
	border-top-width: 2.0px;
	border-bottom-width: 2.0px;
	border-top-right-radius: 20.0px;
	border-top-left-radius: 20.0px;
	border-bottom-right-radius: 120.0px;
	border-bottom-left-radius: 120.0px;
	height: calc(100% + 0.0px);
	width: calc(100% + 0.0px);
	inset: 0.0px 0.0px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	background-color: transparent;
	position: absolute;
	pointer-events: none;
}

.anchorpane7 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 238.0px;
	height: 131.0px;
	flex-shrink: 1;
}

.anchorpane7-region {
	pointer-events: auto;
	background-image: url("media/table_(6).jpg");
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	background-position: BOTTOM CENTER;
	background-repeat: no-repeat;
	background-size: contain;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.label19 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 236.0px;
	height: 67.0px;
	flex-shrink: 1;
}

.label19-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 9px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 30.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #070707ff;
}

.label20 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 229.0px;
	height: 20.0px;
	flex-shrink: 1;
}

.label20-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #070707ff;
}

.label21 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 236.0px;
	height: 108.0px;
	flex-grow: 1;
	flex-basis: 100%;
	flex-shrink: 1;
}

.label21-region {
	pointer-events: auto;
	display: flex;
	align-items: flex-start;
	justify-content: CENTER;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 12.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	word-break: break-word;
	-webkit-text-fill-color: #070707ff;
}

.text_box {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	align-items: CENTER;
	justify-content: CENTER;
	text-align: CENTER;
	width: 780.0px;
	max-width: 10000.0px;
	height: 350.0px;
	flex-grow: 1;
	flex-basis: auto;
	flex-shrink: 1;
}

.text_box-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	text-align: CENTER;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.text_box-region>div>div {
	width: 100%;
}

.vbox6 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 760.0px;
	max-width: 1000.0px;
	height: 340.0px;
	flex-grow: 1;
	flex-basis: auto;
	margin-top: 10.0px;
	margin-bottom: 10.0px;
	margin-left: 10.0px;
	flex-shrink: 1;
}

.vbox6-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	justify-content: flex-start;
	align-items: flex-start;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.vbox6-region>div>div {
	width: 100%;
}

.label5 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: inline-block;
	width: 760.0px;
	height: 170.0px;
	min-height: 170.0px;
	flex-grow: 1;
	flex-basis: auto;
	flex-shrink: 1;
}

.label5-region {
	pointer-events: auto;
	align-items: center;
	justify-content: LEFT;
	display: inline-block;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	word-break: break-word;
	-webkit-text-fill-color: #000000ff;
}

.label1 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: inline-block;
	width: 760.0px;
	height: 170.0px;
	min-height: 170.0px;
	flex-grow: 1;
	flex-basis: auto;
	flex-shrink: 1;
}

.label1-region {
	pointer-events: auto;
	align-items: center;
	justify-content: LEFT;
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	word-break: break-word;
	-webkit-text-fill-color: #000000ff;
}

.angebot_box {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 780.0px;
	height: 406.1666564941406px;
	margin-top: 5.0px;
	flex-shrink: 1;
}

.angebot_box-region {
	display: flex;
	flex-direction: row;
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.angebot_box-region>div>div {
	height: 100%;
}

.anchorpane4 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 261.0px;
	height: 360.0px;
	flex-shrink: 1;
}

.anchorpane4-region {
	pointer-events: auto;
	background-image: url("media/table_(6).jpg");
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	background-color: #e5e5e5ff;
	background-repeat: no-repeat;
	background-size: cover;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.preisbox {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	align-items: CENTER;
	justify-content: CENTER;
	text-align: CENTER;
	width: 476.0px;
	height: 352.0px;
	flex-shrink: 1;
}

.preisbox-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	text-align: CENTER;
	border-top-left-radius: ;
	background-color: #d1bc8aff;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.preisbox-region>div>div {
	min-width: 100%;
}

.preisbox-region>div {
	min-width: 100%;
}

.hbox4 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 476.0px;
	height: 75.0px;
	flex-shrink: 1;
}

.hbox4-region {
	flex-direction: row;
	pointer-events: auto;
	display: flex;
	align-items: center;
	justify-content: RIGHT;
	text-align: RIGHT;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #68676700;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.hbox4-region>div>div {
	height: 100%;
}

.label4 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 92.314453125px;
	height: 64.0px;
	flex-shrink: 1;
}

.label4-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.hbox6 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 476.0px;
	height: 75.0px;
	flex-shrink: 1;
}

.hbox6-region {
	flex-direction: row;
	pointer-events: auto;
	display: flex;
	align-items: flex-start;
	justify-content: LEFT;
	text-align: LEFT;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.hbox6-region>div>div {
	height: 100%;
}

.label11 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 208.51953125px;
	height: 64.0px;
	flex-grow: 1;
	flex-basis: 208.51953125px;
	flex-shrink: 1;
}

.label11-region {
	pointer-events: auto;
	display: flex;
	align-items: center;
	justify-content: LEFT;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	-webkit-text-fill-color: #000000ff;
}

.label12 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 173.330078125px;
	height: 64.0px;
	flex-shrink: 1;
}

.label12-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.label2 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 94.150390625px;
	height: 64.0px;
	flex-shrink: 1;
}

.label2-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 210px;
	border-top-left-radius: 210px;
	border-bottom-right-radius: 210px;
	border-bottom-left-radius: 210px;
	background-color: #24940040;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.hbox7 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 476.0px;
	height: 75.0px;
	flex-shrink: 1;
}

.hbox7-region {
	flex-direction: row;
	pointer-events: auto;
	display: flex;
	align-items: flex-start;
	justify-content: LEFT;
	text-align: LEFT;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.hbox7-region>div>div {
	height: 100%;
}

.label13 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 208.51953125px;
	height: 64.0px;
	flex-grow: 1;
	flex-basis: 208.51953125px;
	flex-shrink: 1;
}

.label13-region {
	pointer-events: auto;
	display: flex;
	align-items: center;
	justify-content: LEFT;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	-webkit-text-fill-color: #000000ff;
}

.label14 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 173.330078125px;
	height: 64.0px;
	flex-shrink: 1;
}

.label14-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.label3 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 94.150390625px;
	height: 64.0px;
	flex-shrink: 1;
}

.label3-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 210px;
	border-top-left-radius: 210px;
	border-bottom-right-radius: 210px;
	border-bottom-left-radius: 210px;
	background-color: #24940040;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.hbox8 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 476.0px;
	height: 75.0px;
	flex-shrink: 1;
}

.hbox8-region {
	flex-direction: row;
	pointer-events: auto;
	display: flex;
	align-items: flex-start;
	justify-content: LEFT;
	text-align: LEFT;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.hbox8-region>div>div {
	height: 100%;
}

.label15 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 207.669921875px;
	height: 64.0px;
	flex-grow: 1;
	flex-basis: 207.669921875px;
	flex-shrink: 1;
}

.label15-region {
	pointer-events: auto;
	display: flex;
	align-items: center;
	justify-content: LEFT;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	-webkit-text-fill-color: #000000ff;
}

.label16 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 173.330078125px;
	height: 64.0px;
	margin-right: 95.0px;
	flex-shrink: 1;
}

.label16-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 20.0px;
	font-style: ITALIC;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.kontakt_box {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 780.0px;
	height: 123.08333587646484px;
	flex-grow: 1;
	flex-basis: 197px;
	flex-shrink: 1;
}

.kontakt_box-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	justify-content: flex-end;
	align-items: center;
	background-color: #776438ff;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.kontakt_box-region>div>div {
	width: 100%;
}

.vbox2 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 367.251953125px;
	height: 123.08333587646484px;
	flex-shrink: 1;
}

.vbox2-region {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	justify-content: flex-start;
	align-items: flex-start;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cccccc00;
	border-width: 0px;
	width: 100%;
	height: 100%;
}

.vbox2-region>div>div {
	width: 100%;
}

.label23 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 367.251953125px;
	height: 61.08333206176758px;
	flex-shrink: 1;
}

.label23-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 18.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}

.label22 {
	transform: translateX(0.0px) translateY(0.0px) translateZ(0.0px);
	display: flex;
	width: 220.80859375px;
	height: 62.0px;
	flex-shrink: 1;
}

.label22-region {
	pointer-events: auto;
	align-items: CENTER;
	justify-content: CENTER;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #00000000;
	border-width: 0px;
	width: 100%;
	height: 100%;
	text-align: CENTER;
	font-family: Cambria;
	font-size: 18.0px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: calc(100% + 0.0px);
	display: inline-block;
	-webkit-text-fill-color: #000000ff;
}
